body {
    background-color: #DDE4F0;
    font-family: 'Josefin Sans';
}

#wrapper {
    border-top: 2rem;
    display: flex;
    justify-content: start;
}

#vasak {
    display: inline-block;
    width: 40%;
    height: 100%;
    height: auto;

    padding: 10px;
    position: relative;
}

#aine {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    height: 300px;
    width: 500px;
    background-color: white;
}

#selectSubject {
    width: 20rem;
    background-color: white;
    padding: 5px 5px 5px 15px;
    border: 1px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    text-indent: 1px;
    text-overflow: '';
    font-size: 30px;
}

#bottom {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    height: 300px;
    width: 500px;
    background-color: #d8e0ea;
    border-color:#949bba ;
    border-style: solid;
    border-width: 7px;
    border-radius: 20px;
}

#stars {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#parem {
    display: inline-block;
    width: 60%;
    height: 100%;
}

#hinnang {
    height: 81px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#parem {
    height: 100%;
    width: 800px;
    border-color: #949bba;
    border-radius: 20px;
    border-style: solid;
    text-align: center;
    font-size: 25px;
}